@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximinaNova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximinaNova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximinaNova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans.ttf") format("truetype");
}